body{
	background-color: #fff;
	font-family: 'Lora', serif;
	margin: 0px;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30pt;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
	font-weight: 400;
}
h3{
	font-size: 12pt;
	font-style: oblique;
	font-weight: 200;
}
h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18pt;
}
/* Hero Area ******/
.hero{
	background-color: #2c3e50;
	background-image: url(edWhite.jpg);
	background-position: center;
	text-align: center;
	color: white;
	height: 400px;
	margin-top: 0px;
	padding-top: 150px;
}

.heroText{
	display: inline-block;
}

/* Article *****/
.article{
	padding-top: 45px;
	font-size: 16px;
	color: #424242;
}