html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	background: lime; /* to test */
}
.redTop{
	background: #F25F5C;
	height: 50px;
	width: 100%;
	margin: 0px;
}
.blueBody{
	background: #247BA0;
	height: 100%;
	width: 33.3%;
	margin: auto;
	float: left;
}
.purpleBody{
	background: #8e44ad;
	height: 100%;
	width: 33.3%;
	margin: auto;
	float: left;
}
.yellowBody{
	background: #FFE066;
	height: 100%;
	width: 33.4%;
	margin: auto;
	float: left;
}
.bottomGreen{
	background: #70C1B3;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
}